@font-face {
	font-family: "Roboto Mono";
	src: url(./fonts/RobotoMono-Regular.woff2);
}
html {
	--gray: #2b2929;
	--yellow: #f7da37;
	--light-gray: #9f9595;
	--red: red;
	--green: #01d201;
}
body {
	margin: 0;
	height: 100vh;
	display: flex;
	background-color: var(--gray);
	font-family: "Roboto Mono", monospace;
	color: var(--yellow);
	justify-content: center;
	flex-direction: column;
	padding: 0;
	overflow: hidden;
}
* {
	box-sizing: border-box;
	user-select: none;
}
#header,
#body {
	width: 100%;
}
#header {
	height: 10vh;
	border: 1px solid green;
}
#body {
	height: 90vh;
	display: flex;
	align-items: center;
	gap: 10%;
	flex-direction: column;
	padding-top: 20vh;
}
#typing-area {
	font-size: 2rem;
	width: 60%;
	border: 1px yellow solid;
	height: 40%;
	display: flex;
	flex-wrap: wrap;
}
#typing-area div {
	width: 100%;
	height: 30px;
}
#l1 {
	order: 1;
}
#l2 {
	order: 2;
}
#l3 {
	order: 3;
}
#t30::before,
#t60::before,
#t120::before {
	color: var(--light-gray);
	content: "|";
}
#timing * {
	cursor: pointer;
}

.loading {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: var(--gray);
	font-size: 5rem;
	font-weight: bold;
	display: flex;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
}
.token {
	font-size: 30px;
}
.untyped {
	color: var(--light-gray);
	text-decoration: none;
}
.right {
	color: var(--yellow);
	text-decoration-line: underline;
	text-decoration-color: var(--green);
}
.wrong {
	color: var(--red);
	text-decoration-line: underline;
	text-decoration-color: var(--red);
}
.heading {
	display: flex;
	justify-self: center;
}
.on {
	box-shadow: 0 0 5px var(--yellow);
}
